# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual environment
.venv/
venv/

# Local runtime data (created on first run — see Build Plan T0.2)
/data/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
